<!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- shop -->
        <div class="col-md-4 col-xs-6">
          <div class="shop">
            <div class="shop-img">
              <img src="/extesion_user/img/banner1.jpg" alt="" />
            </div>
            <div class="shop-body">
              <h3>Tin tức<br />Hôm nay</h3>
              <a href="#" class="cta-btn">Xem ngay
                <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="col-md-4 col-xs-6">
          <div class="shop">
            <div class="shop-img">
              <img src="/extesion_user/img/banner2.jpg" alt="" />
            </div>
            <div class="shop-body">
              <h3>Vắc xin <br />nổi bật</h3>
              <a href="#VacXinNoiBat" class="cta-btn">Xem ngay
                <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <!-- /shop -->
        <!-- shop -->
        <div class="col-md-4 col-xs-6">
          <div class="shop">
            <div class="shop-img">
              <img src="/extesion_user/img/banner3.jpg" alt="" />
            </div>
            <div class="shop-body">
              <h3>Giá vắc xin<br />mới</h3>
              <a href="#" class="cta-btn">Xem ngay
                <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>
        <!-- /shop -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

  <!-- SUGGESTION SECTION -->
  <div class="suggestion-section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h3 class="title">GỢI Ý CHO BẠN</h3>
          </div>
        </div>
        <div class="col-md-12" id="suggestion-container">
          <!-- Suggestions will be dynamically added here -->
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SUGGESTION SECTION -->

  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="col-md-12">
          <div class="section-title">
            <h3 class="title">HOẠT ĐỘNG NỔI BẬT</h3>
          </div>
        </div>
        <!-- /section title -->

        <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="row">
            <div class="products-tabs">
              <!-- tab -->
              <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/tintuc/anh-hung-cach-mang-tiem-vac-xin-cum.jpg" alt="" />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">Hàng nghìn Anh hùng Cách mạng tiêm vắc xin cúm miễn phí tại VNVC</a></h3>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                        xem thêm</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/tintuc/cac-chien-si-tai-truong-sa.jpg" alt="" />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">VNVC tặng 1 tỷ đồng chăm sóc y tế cho Trường Sa</a></h3>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                        xem thêm</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/tintuc/tu-van-kien-thuc-suc-khoe-cho-sinh-vien.jpg" alt="" />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">VNVC tư vấn kiến thức chăm sóc sức khỏe cho sinh viên trường Đại học Khoa học Xã hội và Nhân văn</a></h3>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                        xem thêm</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/tintuc/vnvc-lam-viec-xuyen-le.jpg" alt="" />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">VNVC làm việc xuyên lễ Giỗ Tổ Hùng Vương, 30/4 và 1/5</a></h3>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                        xem thêm</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/tintuc/hoc-sinh-truong-anh-ngu-tai-vnvc-quy-nhon.jpg" alt="" />
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">Trải nghiệm thực tế của hàng trăm học sinh Anh ngữ Ocean Edu tại VNVC Quy Nhơn</a></h3>
                    </div>
                    <div class="add-to-cart">
                      <button type="button" onclick="window.location.href='/tintuc/chitiet/id'" class="add-to-cart-btn">
                        xem thêm</button>
                    </div>
                  </div>
                  <!-- /product -->
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
              </div>
              <!-- /tab -->
            </div>
          </div>
        </div>
        <!-- Products tab & slick -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- section title -->
        <div class="col-md-12">
          <div class="section-title">
            <h3 id="VacXinNoiBat" class="title">DANH MỤC VẮC XIN TẠI VNVC</h3>
          </div>
        </div>
        <!-- /section title -->

        <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="row">
            <div class="products-tabs">
              <!-- tab -->
              <div id="tab2" class="tab-pane fade in active">
                <div class="products-slick" data-nav="#slick-nav-2">
                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/vacxin/syringe.png" alt="" />
                      <div class="product-label">
                        <span class="sale">-30%</span>
                        <span class="new">NEW</span>
                      </div>
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00
                        <del class="product-old-price">$990.00</del></h4>
                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="product-btns">
                        <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                            class="tooltipp"
                          >xem thêm</span></button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i
                          class="fa fa-shopping-cart"
                        ></i>
                        thêm vào giỏ</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/vacxin/syringe.png" alt="" />
                      <div class="product-label">
                        <span class="new">NEW</span>
                      </div>
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00
                        <del class="product-old-price">$990.00</del></h4>
                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                      <div class="product-btns">
                        <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                            class="tooltipp"
                          >xem thêm</span></button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i
                          class="fa fa-shopping-cart"
                        ></i>
                        thêm vào giỏ</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/vacxin/syringe.png" alt="" />
                      <div class="product-label">
                        <span class="sale">-30%</span>
                      </div>
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00
                        <del class="product-old-price">$990.00</del></h4>
                      <div class="product-rating">
                      </div>
                      <div class="product-btns">
                        <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                            class="tooltipp"
                          >xem thêm</span></button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i
                          class="fa fa-shopping-cart"
                        ></i>
                        thêm vào giỏ</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/vacxin/syringe.png" alt="" />
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00
                        <del class="product-old-price">$990.00</del></h4>
                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="product-btns">
                        <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                            class="tooltipp"
                          >xem thêm</span></button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i
                          class="fa fa-shopping-cart"
                        ></i>
                        thêm vào giỏ</button>
                    </div>
                  </div>
                  <!-- /product -->

                  <!-- product -->
                  <div class="product">
                    <div class="product-img">
                      <img src="/img/vacxin/syringe.png" alt="" />
                    </div>
                    <div class="product-body">
                      <p class="product-category">Category</p>
                      <h3 class="product-name"><a href="#">product name goes here</a></h3>
                      <h4 class="product-price">$980.00
                        <del class="product-old-price">$990.00</del></h4>
                      <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="product-btns">
                        <button class="quick-view" type="button" onclick="window.location.href='/vacxin/chitiet/id'"><i class="fa fa-eye"></i><span
                            class="tooltipp"
                          >xem thêm</span></button>
                      </div>
                    </div>
                    <div class="add-to-cart">
                      <button class="add-to-cart-btn"><i
                          class="fa fa-shopping-cart"
                        ></i>
                        thêm vào giỏ</button>
                    </div>
                  </div>
                  <!-- /product -->
                </div>
                <div id="slick-nav-2" class="products-slick-nav"></div>
              </div>
              <!-- /tab -->
            </div>
          </div>
        </div>
        <!-- /Products tab & slick -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->

  <!-- NEWSLETTER -->
  <div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <div class="newsletter">
            <p>Liên hệ hỗ trợ <strong>TIÊM CHỦNG</strong></p>
            <form class="d-flex">
              <input class="input" type="email" placeholder="Nhập email của bạn" />
              <button class="newsletter-btn"><i class="fa fa-envelope"></i>
                Gửi</button>
            </form>
            <ul class="newsletter-follow">
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /NEWSLETTER -->

  <script>
    function loadSuggestions() {
      const children = JSON.parse(localStorage.getItem('children') || '[]');
      const appointments = JSON.parse(localStorage.getItem('appointments') || '[]');
      const suggestionContainer = document.getElementById('suggestion-container');

      suggestionContainer.innerHTML = '';

      if (children.length === 0) {
        suggestionContainer.innerHTML += `
          <div class="suggestion-card">
            <p>Chưa có thông tin trẻ? Thêm trẻ ngay để nhận gợi ý lịch tiêm!</p>
            <a href="/thongtincanhan" class="cta-btn">Thêm trẻ <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        `;
        return;
      }

      children.forEach(child => {
        const ageInMonths = Math.floor((new Date() - new Date(child.dob)) / (1000 * 60 * 60 * 24 * 30));
        let vaccine = '';
        if (ageInMonths <= 2) vaccine = 'Viêm gan B, 5 trong 1';
        else if (ageInMonths <= 6) vaccine = '5 trong 1 (mũi 2), Phế cầu';
        else if (ageInMonths <= 12) vaccine = 'Sởi, 6 trong 1 (mũi 3)';
        else vaccine = 'Sởi-Rubella, Thủy đậu';

        suggestionContainer.innerHTML += `
          <div class="suggestion-card">
            <p><strong>Bé ${child.name} (${ageInMonths} tháng):</strong> Đề xuất tiêm vắc-xin ${vaccine}.</p>
            <a href="/datlichvacxin" class="cta-btn">Đặt lịch ngay <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        `;
      });

      appointments.forEach(appointment => {
        const child = children.find(c => c.id === appointment.childId);
        if (child) {
          suggestionContainer.innerHTML += `
            <div class="suggestion-card">
              <p><strong>Lịch sắp tới:</strong> Bé ${child.name} có lịch tiêm ${appointment.vaccine} vào ${appointment.date} tại ${appointment.facility}.</p>
              <a href="/thongtincanhan" class="cta-btn">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          `;
        }
      });

      // Gợi ý gói vắc-xin (mẫu tĩnh)
      suggestionContainer.innerHTML += `
        <div class="suggestion-card">
          <p><strong>Ưu đãi:</strong> Gói vắc-xin trọn gói 0–2 tuổi giảm 10% đến 30/05/2025.</p>
          <a href="/goivacxin" class="cta-btn">Tìm hiểu thêm <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      `;
    }

    // Kiểm tra trạng thái khi tải trang
    document.addEventListener('DOMContentLoaded', () => {
      loadSuggestions();
    });
  </script>